.drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 7px;
  border-radius: 4px;
  background-color: white;
  gap: 3px;
  margin-top: 20px;
  margin-left: 20px;
}

.drop-down button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 3px;
}

.drop-down button .img-container {
  width: 30px;
  height: 30px;
  margin: 0;
}

.marker {
  position: absolute;
  padding: 26px;
  border-radius: 50%;
  border: solid 4px red;
  margin-left: -30px;
  margin-top: -30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 500px) {
  .marker {
    padding: 20px;
  }
  .drop-down {
    margin-top: 10px;
    margin-left: 10px;
  }
}
