.drop-down {
	display: flex;
	flex-direction: column;
	position: absolute;
	padding: 7px;
	border-radius: 4px;
	background-color: white;
	gap: 3px;
}

.drop-down button {
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 3px;
}

.drop-down button .img-container {
	width: 30px;
	height: 30px;
	margin: 0;
}

.marker {
	position: absolute;
	padding: 26px;

	border-radius: 50%;
	border: solid 4px red;
	box-sizing: border-box;
}
