.drop-down {
	display: flex;
	flex-direction: column;
	position: absolute;
	padding: 7px;
	border-radius: 4px;
	background-color: white;
	gap: 3px;
	margin-top: 20px;
	margin-left: 20px;

	button {
		display: flex;
		align-items: center;
		justify-content: start;
		padding: 3px;

		.img-container {
			width: 30px;
			height: 30px;
			margin: 0;
		}
	}
}

.marker {
	position: absolute;
	padding: 26px;
	border-radius: 50%;
	border: solid 4px red;
	margin-left: -30px;
	margin-top: -30px;
	box-sizing: border-box;
}

@media (max-width: 500px) {
	.marker {
		padding: 20px;
	}
	.drop-down {
		margin-top: 10px;
		margin-left: 10px;
	}
}
