table,
tr,
th,
td {
	border: solid 1px black;
	border-collapse: collapse;
	text-align: center;
}

#leaderboard table {
	min-width: 65vw;
}

#leaderboard th {
	background-color: #1f98ad;
	color: white;
	padding: 10px;
}

#leaderboard td {
	padding: 7px;
}

#leaderboard tr:nth-child(odd) {
	background-color: var(--pale-blue);
}
