table,
tr,
th,
td {
	border: solid 1.5px black;
	border-collapse: collapse;
	text-align: center;
	color: var(--dark-blue);
}

#leaderboard table {
	min-width: 65vw;
	background-color: white;
}

#leaderboard th {
	background-color: var(--dark-blue);
	padding: 10px;
	color: white;
}

#leaderboard td {
	padding: 7px;
}

#leaderboard tr:nth-child(odd) {
	background-color: var(--pale-blue);
}
#leaderboard tr:nth-child(even) {
	background-color: white;
}

#leaderboard a {
	color: white;
}
