@import "../../sass/variable";
@import "../../sass/wrapper";
@import "../../sass/card";

#leaderboard {
	@include wrapper();
	.ranking {
		@include card();
	}
	.button-container {
		display: flex;
		gap: 60px;
		padding: 10px;
	}
	table {
		min-width: 65vw;
		background-color: white;
		margin-bottom: 20px;
	}

	th {
		background-color: $dark-blue;
		padding: 10px;
		color: white;
	}

	td {
		padding: 7px;
	}

	tr {
		&:nth-child(odd) {
			background-color: $pale-blue;
		}
		&:nth-child(even) {
			background-color: white;
		}
	}

	a {
		color: white;
	}
}

table,
tr,
th,
td {
	border: solid 1.5px black;
	border-collapse: collapse;
	text-align: center;
	color: $dark-blue;
}

@media (max-width: 800px) {
	#leaderboard table {
		width: 80vw;
	}
}
