.img-container {
	max-width: 1500px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.img-container img {
	display: block;
	text-align: center;
	width: 100%;
}

.drop-down {
	display: flex;
	flex-direction: column;
	position: absolute;
	padding: 10px;
	border-radius: 4px;
	background-color: white;
}

.target-circle {
	position: absolute;
	padding: 26px;

	border-radius: 50%;
	border: solid 4px red;
	box-sizing: border-box;
}
