@import "../../sass/variable";
@import "../../sass/wrapper";
@import "../../sass/card";

.how-to-play,
.objective,
#home form {
	@include card();
	p {
		text-align: center;
	}
}

#home {
	@include wrapper();
	input {
		padding: 5px 10px;
		margin-bottom: 5px;
	}
}
