#home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	background-color: #003d47;
	color: white;
	padding-bottom: 30px;
}

#home ol {
	margin: 0;
}

#home form button {
	padding: 5px 30px;
	margin-top: 10px;
}

#home input {
	width: 250px;
	padding: 4px;
}
