@import "../../sass/variable";
header {
	background-color: $blue;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding: 0 20px;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 99;
	box-sizing: border-box;
	h1 {
		margin: 10px 0;
	}
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	img {
		height: 40px;
	}
}
