header {
	background-color: var(--blue);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	color: white;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 30px;
	margin-bottom: 12px;
	margin-right: 2px;
	margin-left: 25px;
}
