footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--blue);
	color: white;
	margin-top: auto;
	/* position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; */
}

footer a img {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	border-radius: 50%;
	background-color: white;
	border: solid 1px white;
}

footer a img:hover {
	background-color: var(--pale-blue);
}
