@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Patua One", cursive;
  background-color: #003d47;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  padding: 5px 15px;
  font-family: "Patua One", cursive;
  color: #003d47;
}
