@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Patua One", cursive;
  background-color: #003d47;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home,
#leaderboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--dark-blue);
  color: white;
  padding-bottom: 30px;
}

.how-to-play,
.objective,
#home form,
#leaderboard .ranking,
.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 75vw;
  border-radius: 4px;
  background-color: var(--blue);
  color: white;
}

button,
input {
  font-family: "Patua One", cursive;
}

/* .wrapper {
	background-color: rgba(0, 0, 0, 0.705);
	display: flex;
	align-items: center;
	justify-content: center;
} */
